html, body {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
}

h1 {
    font-family: monospace;
}